@import '../../styles/variables';
@import '../../styles/mixins';



.perk{
    background-color: white;
    border-radius: .625rem;
    padding:3.5rem 2rem 2rem;
    position: relative;

    .perkIcon{
        position: absolute;
        top:-30px;
    }
    .perkTitle{
        font-weight: $extra-bold;
        color:black;
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }
    .getStartedBtn{
        @include button-custom(transparent, $bright-red, 0, 0, none);
        font-weight: $bold;
        margin-top: 1.5rem;
    }
    .getStartedBtn:hover{
        color:$desaturated-red;
        cursor: pointer;
    }
    @include for-desktop{
          display: flex;
          flex-direction: column;
          box-shadow: 0 25px 50px 0 rgba(#06168D, .04);
          .getStartedBtn{
            position: absolute;
            bottom: 0;
            padding-bottom: inherit;
          }
    }
}