@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

//COLORS: 
$dark-purple: #666CA3;
$dark-blue: #13183F;
$dark-grey: #83869A;
$bright-red:#F74780;
$desaturated-red:#FFA7C3;
$white: #FFFFFF;
$linear-gradient-1:#f02AA6;
$linear-gradient-2:#FF6F48;
$linear-gradient-3: #4851FF;
$linear-gradient-4: #F02AA6;

// FONTS:

$Jakarta: 'Plus Jakarta Sans', sans-serif;
$h-size-XL:3.5rem;
$h-height-XL:4.375rem;
$h-size-L: 2.5rem;
$h-height-L: 3.18rem;
$h-size-M: 2rem;
$h-height-M: 2.5rem;
$h-size-S: 1.5rem;
$h-height-S:1.75rem;
$b-size-M:1.125rem;
$b-height-M:1.75rem;
$b-size-S: 1rem;
$b-height-S: 1.75rem;
$semi-bold:500;
$bold:700;
$extra-bold:800;

