@import './styles/mixins';
@import './styles/variables';


.app{
    padding:1rem;
    @include for-tablet{
        padding: 2.37rem;
    }
    @include for-desktop{
        padding: 2.37rem 10.31rem;
    }
}